body {
    height: 100dvh;
    margin: 0;
    background-image: url('assets/img/Background.png');
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    backdrop-filter: blur(5px);
}

#tutorialscreen {
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    width: 760px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#tutorial_img {
    position: relative;
    top: -30px;
    left: 20px;
}

#start_link {
    font-family: Bangers;
    font-size: xx-large;
    position: absolute;
    top: 45%;
    left: 5%;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

#restart_link {
    display: none;
    font-family: Bangers;
    font-size: xx-large;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

#restart_link:hover, #start_link:hover {
    background-color: white;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#visDiv {
    position: absolute;



    width: 760px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flexbox-item {
    flex: 0 1 auto;
}

.flex-item:nth-child(1) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.flex-item:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}


#canvas1 {
    position: absolute;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: -1;
}

#mobileControls {
    display: none;
    height: 25%;
    width: 100%;
    z-index: 999;
    position: relative;
    bottom: -45%;
    opacity: 0.5;
}

.no-select {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    -ms-touch-action: none;
}

#mobileControlsLeftScreen {
    width: 60%;
    padding-left: 5%;
}

#mobileControlsRightScreen {
    width: 40%;
    padding-left: 5%;

}

.mobileControlsButton {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.mobileControlsButton:active {
    opacity: 0.2;
}

#images {
    display: none;
}

@media only screen and (max-height: 480px) {
    #visDiv {
        height: 100vh;
    }

    #restart_link {
        top: 70%;
    }
}

@media only screen and (max-width: 760px) {
    #visDiv {
        width: 100%;
    }

    #mobileControls {
        width: 75%;
    }
}